<div>
Movie: <%= @show_time[0].movie.name %><br/>
Screen: <%= @show_time[0].theatre.name %><br/>
<span>================= Screen This side =================</span>
<br/><br/><br/><br/><br/>
<%= form_with(url: '/update-seats', method: :patch) do %>
    <%= hidden_field_tag :show_time_id, @show_time[0].id %>
    <% @show_time[0].seats.each do |row| %>
        <%= row[0] %>
        <% row[1].each do |k, v| %>
            <%= k %>:
            <% if v == "" %>
                <%= check_box_tag "seats[]", ["#{row[0]}.#{k}"] %>
            <% else %>
                <%= check_box_tag "#{row[0]}.#{k}", v, true, disabled: true %>
            <% end %>
        <% end %>
        <br />
    <% end %>
    <br/><br/>
    <%= link_to 'Back', :back %> | <%= submit_tag "Submit" %>
<% end %>
</div>